/* Theme colors */
:root{
    --light:lavender;


}
/* --------------------------------------------------------- */
/* Universal selector */
* {
    padding: 0;
    margin: 0;
}
/* --------------------------------------------------------- */
/* body selector */
body{
    background-color: rgba(102, 38, 101, 0.902);
}
/* --------------------------------------------------------- */
/* header selectors */
header {
    display: flex;
    justify-content: center;
    background-image: url(../images/header\ BGI.png);
    color: var(--light);

}

h1 {
    font-size: 80px;
    font-family: Papyrus;
}
/* --------------------------------------------------------- */
/*section/'quiz' selectors */

section{
    display: flex;
    justify-content: center;
    left: 33%;
    top: 20%;
    width: 500px;
    height: 500px;
    padding: 10px;
    border: 5px solid purple;
    border-radius: 5%;
    background-color: var(--light);
    position: absolute;
    align-content: center;
}

#content-box {
    display: flex;
    flex-direction: column;
}

#quizHeaderHsAndTime {
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
/* --------------------------------------------------------- */
/*quizDiv selectors */

#quizDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
/* --------------------------------------------------------- */
/*quizHeader selectors */

#quizHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#quizHeader a {

    text-decoration: underline;
    text-align: center;
}

#quizHeader h2 {
    margin-top: 20px;
    text-align: center;
    font-family: Papyrus;
    font-size: 35px;
    color: rgb(93, 2, 93);
}

#quizHeader #displayTime{
    display: flex;
    font-size: 23px;
    color:blueviolet;
    font-family: papyrus;
}
/* --------------------------------------------------------- */

p {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* button selectors */
#quizDiv button {
   border-radius: 12px; 
   margin-left: 30%;
   margin-right: 30%;
   margin-bottom: 25px;
   background-color: purple;
   color: lavender;
   
}

#quizDiv button:hover {
    background-color: rgb(238, 181, 238);
    color: purple;
}